body {
  padding: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.banner{
  width: auto;
  height: 250px;
}
.bannertext{
  padding: 7%;
}
.shorten{
  padding: 80px;
}

.input{
  position: relative;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  height: 42px;
  font-size: 13px;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;}

  .form-group .icons {
      position: absolute;
      top: 13px;
      left: 18px;
  }
  .fea.icon-sm {
      height: 16px;
      width: 16px;
  }
  .fea.icon-sm {
      height: 16px;
      width: 16px;
  }
  .fea {
      stroke-width: 1.8;
  }
  .fea {
      stroke-width: 1.8;
  }