doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Firebase Server Auth
    script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  body
    main
      section
        button#login Sign In With Google
      script.
        window.addEventListener("DOMContentLoaded", () => {
        /* Original App */
        
        /*
        const firebaseConfig = {
        apiKey: "AIzaSyAoZCdA-KxsWQ8hwVpLCoswLYww6fC7mK4",
        authDomain: "click-short-e4d69.firebaseapp.com",
        projectId: "click-short-e4d69",
        storageBucket: "click-short-e4d69.appspot.com",
        messagingSenderId: "976251553976",
        appId: "1:976251553976:web:4208c200940e2d0a61cc4d",
        measurementId: "G-TX80B739NJ"                               
        }; */

        /*Replace below with your App Credentials */

       const firebaseConfig = {
          apiKey: "AIzaSyCZqrgdMK8ve2atg3sBlhsbUpMx5WNKdgc",
          authDomain: "my-clickshort.firebaseapp.com",
          projectId: "my-clickshort",
          storageBucket: "my-clickshort.appspot.com",
          messagingSenderId: "269832699088",
          appId: "1:269832699088:web:b7a019a65ae74d39ad72d5",
          measurementId: "G-1PXDNQ6CS9"
        };


        firebase.initializeApp(firebaseConfig);
        document
        .getElementById("login")
        .addEventListener("click", (event) => {
        event.preventDefault();
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth()
        .signInWithPopup(provider)
        .then((result) => {
          /** @type {firebase.auth.OAuthCredential} */
          var credential = result.credential;

          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = credential.accessToken;
          if(token)
            localStorage.setItem("@token", token)
          // The signed-in user info.
          var user = result.user;
          user.getIdToken().then(uToken => {
            console.log("From client: " + uToken)
            axios({
              method: 'post',
              url: 'auth',
              headers: {
                'Authorization':  `Bearer ${uToken}`,
                'newuser': true
              }
            })
          }).then(()=> {
              window.location.assign("/")
          })
        }).catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
        });
        });
